<div class="contentBox">
  <h2>Order History</h2>
  <br>
  <div *ngIf="!bIsProcessingRequest">
    <ul class="list-group list-group-flush" style="text-align:left;">
      <li class="list-group-item" *ngFor="let order of userOrderHistory?.orders" (click)="showOrderDetails( order.orderID )">
        <p style="display:inline;"><strong class="linkBlue">{{order.orderName}}</strong></p>
        <span style="float:right;display:inline;">{{order.orderDate}}</span>
        <ul [hidden]="isOrderDetailsVisible( order.orderID )">
          <li>Quantity: {{order.orderQuantity}}</li>
          <li>Cost: ${{order.orderValue}}</li>
          <li>Order ID: {{order.orderID}}</li>
        </ul>
      </li>
    </ul>
    <div *ngIf="bRequestError">
      <div class="alert alert-danger" role="alert">
        Unable to load order history
      </div>
    </div>
  </div>
  <div *ngIf="bIsProcessingRequest">
    <div class="alert alert-info" role="alert">
      Loading order history...
    </div>
  </div>
<p><a class="nav-link" routerLink="/user-details">Back To My Account</a></p>
</div>
